
/* Header */

.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

/* Index */
.index-shop-img {
  margin-top: 20px;
}

.index-shop-btn {
  margin-top: 30px;
  margin-bottom: 80px;
}

.index-shop-img, .index-shop-btn {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.index-jackets {
  display: flex;
  justify-content: space-between;
}

.index-shop-all-btn {
  display: flex;
  justify-content: center;
}

/* Jackets */
.jackets-shop-all {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


/* Product */
.product-h1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product-ppjacket {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.product-info-pp-jacket {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-jackets {
  display: flex;
  justify-content: space-between;
}


/* About */
.about {
  display: flex;
  justify-content: space-between;
}

.about-logo {
  display: flex;
  justify-content: center;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


/* Contact */
.contact-form-input, .contact-customerservice {
  display: flex;
  flex-direction: column;
}

.contact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-phone, .contact-mail {
  display: flex;
  align-items: center;
  gap: 16px;
}


/* Newsletter */
.newsletter {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.newsletter-form {
  display: flex;
}

/* Footer */
.footer-payment-methods {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav-socialmedia {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-shop-ppjacket {
  display: flex;
  flex-direction: column;
}



  















